<ul class="flex flex-wrap items-center justify-center p-6">
  <li class="mr-3" *ngFor="let category of categoriesCount | keyvalue">
    <a
      class="avenir-medium px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg
      md:mt-0 md:ml-4 hover:text-gray-900 hover:bg-gray-200 outline-none"
      routerLink="/portfolio"
      [queryParams]="{category: category.key.toLowerCase()}"
      routerLinkActive="text-gray-900 bg-gray-200 outline-none"
      [ngClass]="{'text-gray-900 bg-gray-200 outline-none': (category.key === 'All' && categoryType === '')}"
      >
      {{category.key}} ({{category.value}})
    </a>
  </li>
</ul>
