<!-- component -->
<div class="bg-gray-100 mt-6 p-12 bottom-0">
  <div class="max-w-6xl m-auto text-gray-800 flex flex-wrap justify-center mb-4 avenir-medium">
   <p class="text-2xl">Contact me</p>
  </div>
  <div class="flex flex-row justify-center">
    <a href="https://www.linkedin.com/in/marco-lupia" target="_blank" class="w-6 mx-1">
      <img width="114" src="https://unpkg.com/simple-icons@v2/icons/linkedin.svg" />
    </a>
    <a href="https://github.com/marco2012" target="_blank" class="w-6 mx-1">
      <img width="114" src="https://unpkg.com/simple-icons@v2/icons/github.svg" />
    </a>
  </div>
</div>
