<!-- component -->
<div class="p-8 mb-4 bottom-0 rounded-lg">
  <div class="flex flex-col items-center">
    <p class="text-xl md:text-2xl avenir-medium pb-3">Find me on</p>
    <app-connections></app-connections>
  </div>
</div>
<div class="flex flex-col items-center py-2">
  <p class="avenir-regular text-sm text-gray-500 pb-6">
    <a href="/">Home</a> | <a href="/resume">Resume</a> | <a href="/portfolio">Portfolio</a> | <a href="/cookie-policy">Cookie Policy</a>
  </p>
  <p class="avenir-regular text-sm text-gray-500 pb-4">
    © {{ year }} Marco Lupia
  </p>
</div>
