<!--<nav class="bg-white mt-2" role="navigation">-->
<!--  <div class="container mx-auto flex flex-wrap items-center md:flex-no-wrap">-->
<!--    <div class="mr-4">-->
<!--      <a routerLink="" rel="home">-->
<!--        <img width="180" src="/assets/images/logo11_transparent.png" alt="" style="filter: invert()">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="ml-auto md:hidden">-->
<!--      <button class="flex items-center px-3 py-2 border rounded" type="button">-->
<!--        <svg class="h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">-->
<!--          <title>Menu</title>-->
<!--          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>-->
<!--        </svg>-->
<!--      </button>-->
<!--    </div>-->
<!--    <div class="w-full md:w-auto md:flex-grow md:flex md:items-center portfolio-menu mr-8 avenir-medium" >-->
<!--      <ul class="flex flex-col mt-4 -mx-4 pt-4 border-t md:flex-row md:items-center md:mx-0 md:ml-auto md:mt-0 md:pt-0 md:border-0">-->
<!--        <li>-->
<!--          <a-->
<!--            class="inline-block px-4 py-1 md:p-2 lg:px-4 btn"-->
<!--            title="Home"-->
<!--            routerLink="/"-->
<!--            routerLinkActive="active-link text-blue-650"-->
<!--            [routerLinkActiveOptions]="{exact: true}">Home</a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a-->
<!--            class="inline-block px-4 py-1 md:p-2 lg:px-4 portfolio-menu btn"-->
<!--            title="Resume"-->
<!--            routerLink="/resume"-->
<!--            routerLinkActive="active-link text-blue-650">Resume</a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a-->
<!--            class="inline-block px-4 py-1 md:p-2 lg:px-4 portfolio-menu btn"-->
<!--            title="Portfolio"-->
<!--            routerLink="/portfolio"-->
<!--            routerLinkActive="active-link text-blue-650">Portfolio</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->


<!-- component -->
<div class="w-full text-gray-700 bg-transparent dark-mode:text-gray-200 dark-mode:bg-gray-800">
  <div class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8 open">
    <div class="p-4 flex flex-row items-center justify-between">
            <a routerLink="" rel="home">
              <img width="160" src="/assets/images/logo11_transparent.png" alt="" style="filter: invert()">
            </a>
      <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline" (click)="onClick()">
        <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
          <path *ngIf="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
          <path *ngIf="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
    <nav class="flex-col flex-grow pb-4 md:pb-0 md:flex md:justify-end md:flex-row" [ngClass]="open ? 'flex' : 'hidden'">
      <a class="avenir-medium px-4 py-2 mt-2 text-sm font-semibold text-gray-900 rounded-lg dark-mode:bg-gray-700 dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 hover:bg-gray-200"
         routerLink="/" routerLinkActive="text-gray-900 bg-gray-200 outline-none" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="avenir-medium px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-gray-900 hover:bg-gray-200"
         routerLink="/resume" routerLinkActive="text-gray-900 bg-gray-200 outline-none">Resume</a>
      <a class="avenir-medium px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-gray-900 hover:bg-gray-200"
         routerLink="/portfolio" routerLinkActive="text-gray-900 bg-gray-200 outline-none">Portfolio</a>
    </nav>
  </div>
</div>
