<div class="p-10 md:mt-12 lg:mt-12 xl:md-12 md:ml-8 lg:ml-8 xl:ml-12 text-gray-700 h-screen">
  <div class="avenir-medium text-2xl">
    <p>Hello, I'm</p>
  </div>
  <div class="avenir-bold text-5xl text-gray-800">
    <p>Marco Lupia</p>
  </div>
  <div class="avenir-medium text-2xl">
    <p>A computer engineer</p>
  </div>
  <div class="avenir-medium text-xl mt-8">
    <p>Find me on</p>
  </div>
  <div class="flex flex-row">
    <a href="https://www.linkedin.com/in/marco-lupia" target="_blank" class="w-6 mx-1">
      <img width="114" src="https://unpkg.com/simple-icons@v2/icons/linkedin.svg" />
    </a>
    <a href="https://github.com/marco2012" target="_blank" class="w-6 mx-1">
      <img width="114" src="https://unpkg.com/simple-icons@v2/icons/github.svg" />
    </a>
  </div>

  <div>
    <p class="avenir-demi text-2xl flex justify-center mt-12">Resume</p>
  </div>

  <app-resume></app-resume>

</div>
