<select
  id="categorySelect"
  class="appearance-none h-full rounded-l border block appearance-none w-40
            bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight
            focus:outline-none focus:bg-white focus:border-gray-500"
  [(ngModel)]="selectedCategory"
  [disabled]="selectedLanguage !== 'Language'"
  (change)="onChange($event)">
  <option disabled>Category</option>
  <option *ngFor="let category of categoriesCount | keyvalue"
          [value]="category.key">
    {{category.key}} ({{category.value}})
  </option>
</select>
