<app-header></app-header>
<div
  class="flex flex-col avenir-medium pb-4 select-none mx-auto w-11/12 sm:w-3/4 md:w-4/5 lg:w-3/5 xl:w-2/4"
>
  <div class="flex items-center justify-center pb-4">
    <p class="text-4xl avenir-bold">Resume</p>
  </div>

  <!-- PROFILE -->
  <!-- <div id="profile" class="resume-block resume-card">
    <div class="p-6">
      <div class="mb-4 flex flex-row items-center">
        <img
          class="mr-4"
          width="32px"
          src="/assets/icons/icon-profile.svg"
          alt=""
        />
        <p class="text-xl md:text-2xl avenir-demi">Summary</p>
      </div>
      <div
        class="mb-4 text-md xl:text-lg md:text-justify text-gray-700 avenir-regular whitespace-pre-line"
      >
        • Passionate about developing exciting things with a good team. A great
        design is where I start. Always looking for new challenges.<br />
        • Interested in cloud computing, risk management, project management,
        product design, problem solving, cryptocurrencies, marketing.
      </div>
      <div class="flex flex-row text-blue-650 items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="fill-current mr-1 w-5"
        >
          <path
            d="M 12 2 C 6.477 2 2 6.477 2 12 C 2 17.523 6.477 22 12 22 C 17.523 22 22 17.523 22 12 C 22 6.477 17.523 2 12 2 z M 12 4 C 16.418 4 20 7.582 20 12 C 20 16.418 16.418 20 12 20 C 7.582 20 4 16.418 4 12 C 4 7.582 7.582 4 12 4 z M 11 7 L 11 13.585938 L 8.7070312 11.292969 L 7.2929688 12.707031 L 12 17.414062 L 16.707031 12.707031 L 15.292969 11.292969 L 13 13.585938 L 13 7 L 11 7 z"
          />
        </svg>
        <a href="/assets/documents/marco_lupia_resume.pdf" target="_blank"
          >Download resume</a
        >
      </div>
    </div>
  </div> -->

  <!-- PROFESSIONAL EXPERIENCE -->
  <!--  <hr class="my-8" style="border-top: 1px solid #F1F1F1;">-->
  <div class="p-5 resume-card" id="experience">
    <div class="p-6">
      <div class="mb-4 flex flex-row items-center">
        <img
          class="mr-4"
          width="32px"
          src="/assets/icons/icon-resume.svg"
          alt=""
        />
        <p class="text-xl md:text-2xl avenir-demi">Professional Experience</p>
      </div>
      <app-resume-row
        title="Deloitte"
        subtitle="Digital Marketing Consultant"
        year="Dec 2022 - present "
        subtitle2="Roma, Italy"
        description=""
        icon="icon-deloitte.png"
      ></app-resume-row>
      <app-resume-row
        title=""
        subtitle="Digital Marketing Analyst"
        year="Aug 2021 - Dec 2022"
        subtitle2="Roma, Italy"
        description="• Collected and analyzed requirements from stakeholders; produced deliverables; identified KPIs to optimize the performance of digital marketing campaigns across multiple channels
        • Implemented and tested analytics tracking in web and mobile properties using Google Marketing Platform (UA, GA4, Google Tag Manager), Adobe Experience Platform (Launch, AEP Web SDK), Tealium iQ
        • Developed data visualization dashboards in Adobe Analytics, Google Analytics, Data Studio
        • Custom code development in JavaScript, HTML, CSS. Data Analysis in SQL, BigQuery, Python
        • Worked across multiple industries including Food & Drink, Travel, Fashion, Entertainment, Retail"
        icon="blank.png"
      ></app-resume-row>
      <hr class="my-2" />
      <app-resume-row
        title="Reply"
        subtitle="Full Stack Developer"
        year="Jan 2021 - Aug 2021"
        subtitle2="Roma, Italy"
        description="Designed and implemented cloud solutions on Microsoft Azure
• Full stack development in Angular (JavaScript), ASP.NET Core (C#), Entity Framework Core, Microsoft SQL Server
• Produced customer facing documentation, processed requirements according to client needs
• Configured Azure Infrastructure, Azure DevOps pipelines for CI/CD, Azure Functions for scheduled tasks, ARM templates to deploy resources
• Identity and access management, Active Directory, Azure AD B2C, MFA
• Developed REST APIs for microservices with Swagger documentation"
        icon="icon-reply.jpg"
      ></app-resume-row>
      <hr class="my-2" />
      <app-resume-row
        title="DIAG - Sapienza University of Rome"
        subtitle="Software Engineer"
        year="Feb 2020 - Dec 2020"
        subtitle2="Roma, Italy"
        description="• Developed SmartRPA, an open source Robotic Process Automation tool (Python, JavaScript) to record user actions into event logs and automatically generate executable RPA scripts for software roboots
• Part of the BPM team, designed process mining algorithms to solve complex research problems
• Presented work at 18th Int. Conference on Business Process Management (RPA Forum) in Sevilla, Spain"
        icon="icon-sapienza.svg"
      ></app-resume-row>
      <details>
        <summary class="outline-none cursor-pointer py-2">Show all</summary>
        <app-resume-row
        title="DIAG - Sapienza University of Rome"
        subtitle="Segreteria Didattica"
        subtitle2="Roma, Italy"
        year="Jan 2020 - Jul 2020"
        description="• Student-collaboration scholarship in Segreteria Didattica at Department of Computer, Control, Management Engineering."
        icon="icon-sapienza.svg"
      ></app-resume-row>
      <hr class="my-2" />
      <app-resume-row
        title="Vikings, Inc."
        subtitle="Co-Founder, Software Engineer"
        subtitle2="Roma, Italy"
        year="Sep 2017 - Sep 2019"
        description="• CobSpread bot: Telegram bot (JavaScript) with 200+ users to earn from 5% to 15% for each transaction exploiting the spread gap of cryptocurrencies price.
• InstaDevil: Instagram bot (Python) to automate 10+ operations, with a gain of 7.5k+ weekly profile visits.
• BookShare: iOS app (Swift) to exchange books, featuring barcode scan, map and AR.
• Etherscan bot: Telegram bot (JavaScript) in JavaScript to keep multiple crypto wallets under control."
        icon="icon-vikings.svg"
      ></app-resume-row>
      <!-- <app-resume-row
        title="Logilux"
        subtitle="Steward"
        subtitle2="Roma, Italy"
        year="Jan 2018 - Sep 2018"
        description="• Worked as steward for different companies in many international congresses."
        icon="icon-logilux.png"
      ></app-resume-row> -->
      </details>
    </div>
  </div>

  <!-- EDUCATION -->
  <div id="education" class="resume-card" style="padding: 20px">
    <div class="p-6">
      <div class="mb-4 flex flex-row items-center">
        <img
          class="mr-4"
          width="32px"
          src="/assets/icons/icon-education.svg"
          alt=""
        />
        <p class="text-xl md:text-2xl avenir-demi">Education</p>
      </div>
      <app-resume-row
        title="Master of Science in Engineering in Computer Science"
        subtitle="Sapienza University of Rome"
        year="2018 - 2020"
        description="- Algorithm Design
- Artificial Intelligence
- Capacity Planning
- Computer and Network Security
- Cyber and Computer Law, Data Management
- Distributed Systems, Formal Methods
- Human Computer Interaction
- Laboratory of Network Design and Configuration (Cisco Packet Tracer)
- Mobile Applications and Cloud Computing (Java/Swift)
- Neural Networks (Python)
- Process Management and Mining
- Software Engineering
- Visual Analytics (Javascript)"
        thesis="Automated Generation of Executable Robotic Process Automation Scripts from User Interface Logs"
        thesis_link="SmartRPA"
        icon="icon-sapienza.svg"
        expanded_description="true"
        subtitle3="• Student-collaboration scholarship, assigned to the best 45 students based on merit"
      ></app-resume-row>
      <hr class="my-2" />
      <app-resume-row
        title="Bachelor of Science in Computer and System Engineering"
        subtitle="Sapienza University of Rome"
        year="2015 - 2018"
        description="- Algoritmi e Strutture Dati
- Basi di Dati, 
- Linguaggi e Tecnologie per il Web
- Modelli
- Progettazione del Software
- Programmazione Funzionale e Parallela
- Programmazione Orientata agli Oggetti
- Python
- Reti di Calcolatori
- Sistemi di Calcolo I & II
- Tecniche di Programmazione
- Telecomunicazioni
- Analisi Matematica I & II
- Calcolo delle Probabilità e Statistica
- Controlli Automatici
- Economia e Organizzazione Aziendale
- Elettronica
- Geometria 
- Management
- Ricerca Operativa
- Teoria dei Sistemi
- Lingua inglese"
        thesis="SmartGasStation - Progetto e Realizzazione di una Web Application
      per Localizzare le Stazioni di Rifornimento più Economiche nelle Vicinanze"
        thesis_link="SmartGasStation"
        icon="icon-sapienza.svg"
        expanded_description="true"
      ></app-resume-row>
      <hr class="my-2" />
      <app-resume-row
        title="Diploma Liceo Scientifico"
        subtitle="Renato Cartesio"
        year="2010 - 2015"
        icon="icon-diploma.svg"
      ></app-resume-row>
    </div>
  </div>

  <!-- PROFESSIONAL SKILLS -->
  <div class="resume-card" id="professional_skills">
    <div class="p-6">
      <div class="p-5 mb-2 flex flex-row items-center">
        <img
          class="mr-4"
          width="32px"
          src="/assets/icons/icon-code.svg"
          alt=""
        />
        <p class="text-xl md:text-2xl avenir-demi">Skills</p>
      </div>

      <!-- <div class="py-2 resume-block">
        <p class="text-lg lg:text-xl mb-3 font-semibold">Languages</p>
        <div *ngFor="let language of programmingLanguages; let i = index">
          <div
            class="col-md-6"
            [ngClass]="{
              'left-style': i % 2 === 0,
              'right-style': i % 2 !== 0
            }"
          >
            <div class="flex flex-row pb-3 text-md lg:text-lg">
              <img
                class="opacity-icon mr-3 custom-programming-list-img"
                src="/assets/icons/{{ language.icon }}"
                alt=""
              />
              {{ language.title }}
            </div>
          </div>
        </div>
      </div>

      <div class="py-2 resume-block">
        <p class="text-lg lg:text-xl mb-3 font-semibold">Frameworks</p>
        <div *ngFor="let framework of frameworks; let i = index">
          <div
            class="col-md-6"
            [ngClass]="{
              'left-style': i % 2 === 0,
              'right-style': i % 2 !== 0
            }"
          >
            <div class="flex flex-row pb-3 text-md lg:text-lg">
              <img
                class="opacity-icon mr-3 custom-programming-list-img"
                src="/assets/icons/{{ framework.icon }}"
                alt=""
              />
              {{ framework.title }}
            </div>
          </div>
        </div>
      </div>-->

      <div class="py-4 resume-block">
        <p class="text-lg lg:text-xl pb-4 font-semibold">Programming Languages</p>

        <mat-grid-list cols="2" rowHeight="40px">
          <mat-grid-tile *ngFor="let language of programmingLanguages">
            <img
              class="opacity-icon mr-3 custom-programming-list-img"
              src="/assets/icons/{{ language.icon }}"
              alt=""
            />
            <p class="text-md lg:text-lg">{{ language.title }}</p>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <hr class="my-4" />

      <div class="py-4 resume-block">
        <p class="text-lg lg:text-xl pb-4 font-semibold">Frameworks</p>

        <mat-grid-list cols="2" rowHeight="40px">
          <mat-grid-tile *ngFor="let framework of frameworks">
            <img
              class="opacity-icon mr-3 custom-programming-list-img"
              src="/assets/icons/{{ framework.icon }}"
              alt=""
            />
            <p class="text-md lg:text-lg">{{ framework.title }}</p>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <hr class="my-4" />

      <div class="py-4 resume-block">
        <p class="text-lg lg:text-xl pb-4 font-semibold">Platforms</p>

        <mat-grid-list cols="2" rowHeight="40px">
          <mat-grid-tile *ngFor="let platform of platformItems">
            <img
              class="opacity-icon mr-3 custom-programming-list-img"
              src="/assets/icons/{{ platform.icon }}"
              alt=""
            />
            <p class="text-md lg:text-lg">{{ platform.title }}</p>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <hr class="my-4" />

      <div class="py-4 resume-block">
        <p class="text-lg lg:text-xl mb-3 pb-2 font-semibold">
          Software, Tools and Other
        </p>
        <ul
          class="text-md xl:text-lg"
          style="list-style-type: none"
          *ngFor="let skill of other_skills"
        >
          <li class="custom-programming-list font-light">
            <img
              class="opacity-icon mr-3 custom-programming-list-img"
              src="/assets/icons/{{ skill.icon }}"
              alt=""
            />
            <p class="md:text-justify font-light">{{ skill.title }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- PERSONAL SKILLS -->
  <!-- <div id="personal_skills" class="resume-block resume-card">
    <div class="p-6">
      <div class="mb-4 flex flex-row items-center">
        <img
          class="mr-4"
          width="32px"
          src="/assets/icons/icon-skills.svg"
          alt=""
        />
        <p class="text-xl md:text-2xl avenir-demi">Personal skills</p>
      </div>
      <app-resume-row
        title=""
        description="• Skilled at evaluating options, producing solutions and solving problems.
• Ability to work in stressful situations respecting deadlines.
• Concise and professional speaking abilities acquired during years of team projects at university."
        small_description="false"
      ></app-resume-row>
    </div>
  </div> -->

  <!-- LANGUAGES -->
  <div id="languages" class="resume-block resume-card">
    <div class="p-6">
      <div class="mb-4 flex flex-row items-center">
        <img
          class="mr-4 content-center"
          width="32px"
          src="/assets/icons/icon-language.svg"
          alt=""
        />
        <div class="flex flex-col">
          <p class="text-xl md:text-2xl avenir-demi">Languages</p>
          <a
            class="text-base lg:text:lg xl:text:lg text-gray-700"
            href="https://www.coe.int/en/web/common-european-framework-reference-languages/table-1-cefr-3.3-common-reference-levels-global-scale"
            target="_blank"
            >CEFR Reference</a
          >
        </div>
      </div>
      <div class="flex justify-around">
        <!-- <div class="p-1"> -->
        <app-resume-row
          title="Italian"
          subtitle="Native speaker"
          icon="icon-italy.svg"
          class="pr-2 md:pr-0"
        ></app-resume-row>
        <a href="https://www.efset.org/cert/hrVnQr" target="_blank">
          <app-resume-row
          title="English"
          subtitle="C2 - Proficient"
          icon="icon-usa.svg"
        ></app-resume-row>
        </a>
        
        <!-- </div> -->
        <!-- <div class="p-1">
          <app-resume-row
            title="French"
            subtitle="A2 - Basic"
            icon="icon-france.svg"
          ></app-resume-row>
          <app-resume-row
            title="Spanish"
            subtitle="A2 - Basic"
            icon="icon-spain.svg"
          ></app-resume-row>
        </div> -->
      </div>
    </div>
  </div>

  <!-- CERTIFICATES -->
  <div class="p-5 resume-card" id="certificates">
    <div class="p-6">
      <div class="mb-4 flex flex-row items-center">
        <img
          class="mr-4"
          width="32px"
          src="/assets/icons/icon-certificate.svg"
          alt=""
        />
        <p class="text-xl md:text-2xl avenir-demi">Certificates</p>
      </div>
      <app-resume-row
        *ngFor="let item of resumeItemsVisible"
        title="{{ item.title }}"
        subtitle="{{ item.subtitle }}"
        date="{{ item.date }}"
        link="{{ item.link }}"
        credential_id="{{ item.id }}"
        icon="{{ item.icon }}"
      ></app-resume-row>
      <details>
        <summary class="outline-none cursor-pointer py-2">Show all</summary>
        <app-resume-row
          *ngFor="let item of resumeItemsHidden"
          title="{{ item.title }}"
          subtitle="{{ item.subtitle }}"
          date="{{ item.date }}"
          link="{{ item.link }}"
          credential_id="{{ item.id }}"
          icon="{{ item.icon }}"
        ></app-resume-row>
      </details>
    </div>
  </div>

  <!--   PUBLICATIONS-->
  <div id="publications" class="resume-block resume-card">
    <div class="p-6">
      <div class="mb-4 flex flex-row items-center">
        <img
          class="mr-4"
          width="32px"
          src="/assets/icons/icon-paper.svg"
          alt=""
        />
        <p class="text-xl md:text-2xl avenir-demi">Publications</p>
      </div>
      <app-resume-row
        title="SmartRPA: A Tool to Reactively Synthesize Software Robots from User Interface Logs"
        subtitle2="33rd Int. Conf. on Advanced Information Systems Engineering (CAiSE Forum) - Springer"
        date="Jul 2021"
        link="https://www.springerprofessional.de/en/smartrpa-a-tool-to-reactively-synthesize-software-robots-from-us/19259790"
      ></app-resume-row>
      <app-resume-row
        title="Automated Generation of Executable RPA Scripts from User Interface Logs"
        subtitle2="18th Int. Conference on Business Process Management (RPA Forum) - Springer"
        date="Sep 2020"
        link="https://doi.org/10.1007/978-3-030-58779-6_8"
      ></app-resume-row>
    </div>
  </div>

  <div id="academic_research" class="resume-block resume-card">
    <div class="p-6">
      <div class="mb-4 flex flex-row items-center">
        <img
          class="mr-4"
          width="32px"
          src="/assets/icons/icon-university.svg"
          alt=""
        />
        <p class="text-xl md:text-2xl avenir-demi">Academic Research</p>
      </div>
      <app-resume-row
        title="WannaCry"
        subtitle="Cyber and computer law"
        date="Sep 2019"
        link="/assets/documents/papers/Cyber_and_Computer_Law.pdf"
      ></app-resume-row>
      <app-resume-row
        title="Simulation and Monte Carlo methods for Finance"
        subtitle="Probabilistic models for finance"
        date="Jun 2019"
        link="/assets/documents/papers/Probabilistic_models_for_finance.pdf"
      ></app-resume-row>
      <app-resume-row
        title="Direct Feedback Alignment Provides Learning in Deep Neural Networks"
        subtitle="Neural networks"
        date="Apr 2019"
        link="/assets/documents/papers/Neural_Networks_Direct_Feedback_Alignment.pdf"
      ></app-resume-row>
    </div>
  </div>
</div>

<app-footer></app-footer>
