<div class="flex flex-col avenir-medium container mx-auto pb-8 px-6 sm:px-24 md:px-32 lg:px-48 xl:px-64 select-none">

  <div class="flex items-center justify-center pb-6">
    <p class="text-4xl avenir-bold">Resume</p>
  </div>

  <!-- PROFILE -->
  <div id="profile" class="resume-block">
    <div class="mb-4 flex flex-row">
      <img class="mr-4" width="32px" src="/assets/icons/icon-profile.svg" alt="">
      <p class="text-2xl avenir-demi">Profile</p>
    </div>
    <p class="mb-4 text-lg text-justify text-gray-700 avenir-regular"> I'm a computer engineer graduated at Sapienza
      University of Rome. I'm really passionate about developing exciting things. A great design is where I start.
      Always looking for new challenges.
    </p>
    <!--    <div class="flex flex-row text-blue-650">-->
    <!--      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-current mr-1 w-5">-->
    <!--        <path-->
    <!--          d="M 12 2 C 6.477 2 2 6.477 2 12 C 2 17.523 6.477 22 12 22 C 17.523 22 22 17.523 22 12 C 22 6.477 17.523 2 12 2 z M 12 4 C 16.418 4 20 7.582 20 12 C 20 16.418 16.418 20 12 20 C 7.582 20 4 16.418 4 12 C 4 7.582 7.582 4 12 4 z M 11 7 L 11 13.585938 L 8.7070312 11.292969 L 7.2929688 12.707031 L 12 17.414062 L 16.707031 12.707031 L 15.292969 11.292969 L 13 13.585938 L 13 7 L 11 7 z"/>-->
    <!--      </svg>-->
    <!--      <a href="">Download CV</a>-->
    <!--    </div>-->
  </div>

  <!-- EXPERIENCE -->
  <!--  <hr class="my-8" style="border-top: 1px solid #F1F1F1;">-->
  <!--  <div class="resume-block">-->
  <!--    <div class="mb-4 flex flex-row">-->
  <!--      <img class="mr-4" width="32px" src="/assets/icons/icon-resume.svg" alt="">-->
  <!--      <p class="text-2xl avenir-demi">Experience</p>-->
  <!--    </div>-->
  <!--    <app-resume-row-->
  <!--      title="Software Engineer"-->
  <!--      subtitle="Department of Computer, Control, Management Engineering - Sapienza Università di Roma"-->
  <!--      year="Sep - Dec 2020"-->
  <!--      description="Developer of SmartRPA, a Python tool to train Robotic Process Automation routines."-->
  <!--    ></app-resume-row>-->
  <!--  </div>-->

  <!-- PROFESSIONAL SKILLS -->
  <hr class="my-8" style="border-top: 1px solid #F1F1F1;">
  <div id="professional_skills">
    <div class="mb-4 flex flex-row">
      <img class="mr-4" width="32px" src="/assets/icons/icon-code.svg" alt="">
      <p class="text-2xl avenir-demi">Professional Skills</p>
    </div>
    <div class="py-2 resume-block">
      <p class="text-xl mb-3">Programming Languages</p>
      <ul class="skills-list">
        <li class="pb-1"><i class="opacity-icon mr-2 devicon-python-plain"></i> Python</li>
        <li class="pb-1"><i class="opacity-icon mr-2 devicon-java-plain"></i> Java</li>
        <li class="pb-1"><i class="opacity-icon mr-2 devicon-javascript-plain"></i> JavaScript</li>
        <li class="pb-1"><i class="opacity-icon mr-2 devicon-typescript-plain"></i> TypeScript</li>
        <li class="pb-1"><i class="opacity-icon mr-2 devicon-swift-plain"></i> Swift</li>
        <li class="pb-1"><i class="opacity-icon mr-2 devicon-mysql-plain"></i> SQL</li>
        <li class="pb-1 flex flex-row"><img class="mr-2" src="/assets/icons/icon-scala.svg" alt="" width="16px"/>Scala
        </li>
        <li class="pb-1"><i class="opacity-icon mr-2 devicon-c-plain"></i> C</li>
        <li class="pb-1"><i class="opacity-icon mr-2 devicon-ruby-plain"></i> Ruby</li>
        <li class="pb-1"><i class="opacity-icon mr-2 devicon-devicon-plain"></i> Assembly</li>
        <li class="pb-1"><i class="opacity-icon mr-2 devicon-apple-plain"></i> AppleScript</li>
      </ul>
    </div>
    <div class="py-2 resume-block">
      <p class="text-xl mb-3">Frameworks</p>
      <ul class="skills-list">
        <li class="custom-programming-list"><img class="opacity-icon mr-2" src="/assets/icons/icon-spring.png" alt=""
                                                 style="max-width: 20px;"> Spring
        </li>
        <li class="custom-programming-list"><img class="opacity-icon mr-2" src="/assets/icons/icon-ibernate.png" alt=""
                                                 style="max-width: 20px;"> Hibernate
        </li>
        <li class="custom-programming-list"><i class="opacity-icon mr-2 devicon-nodejs-plain"></i> Node.js</li>
        <li class="custom-programming-list"><i class="opacity-icon mr-2 devicon-angularjs-plain"></i> Angular</li>
        <li class="custom-programming-list"><i class="opacity-icon mr-2 devicon-react-original"></i> React Native</li>
        <li class="custom-programming-list">
          <img class="opacity-icon mr-2" src="/assets/icons/icon-flutter.svg" alt="" style="max-width: 20px;"> Flutter
        </li>
        <li class="custom-programming-list"><i class="opacity-icon mr-2 devicon-bootstrap-plain"></i> Bootstrap</li>
        <li class="custom-programming-list">
          <img class="opacity-icon mr-2" src="/assets/icons/icon-opencl.png" alt="" style="max-width: 20px;"> OpenCL
        </li>
        <li class="custom-programming-list"><i class="opacity-icon mr-2 devicon-rails-plain"></i> Ruby on Rails</li>
      </ul>
    </div>
    <div class="py-2 resume-block">
      <p class="text-xl mb-3">Other</p>
      <ul class="text-lg" style="list-style-type: none;">
        <li class="custom-programming-list"><img class="opacity-icon mr-3" src="/assets/icons/icon-app_symbol.svg"
                                                 alt=""
                                                 style="max-width: 20px;">iOS/Android/Hybrid application development
        </li>
        <li class="custom-programming-list"><img class="opacity-icon mr-3" src="/assets/icons/icon-db.svg" alt=""
                                                 style="max-width: 20px;">Database (SQL/NoSQL)
        </li>
        <li class="custom-programming-list"><img class="opacity-icon mr-3" src="/assets/icons/icon-web.svg" alt=""
                                                 style="max-width: 20px;">HTML/CSS/jQuery, Front-end/Back-end
          development
        </li>
        <li class="custom-programming-list"><img class="opacity-icon mr-3" src="/assets/icons/icon-circular_arrows.svg"
                                                 alt="" style="max-width: 20px;">Agile (Scrum), Waterfall methodologies
        </li>
        <li class="custom-programming-list"><img class="opacity-icon mr-3" src="/assets/icons/icon-patterns.svg" alt=""
                                                 style="max-width: 20px;">MVC design pattern
        </li>
        <li class="custom-programming-list"><img class="opacity-icon mr-3" src="/assets/icons/icon-rest_api.svg" alt=""
                                                 style="max-width: 20px;">REST, SOAP web services
        </li>
        <li class="custom-programming-list"><img class="opacity-icon mr-3" src="/assets/icons/icon-ethernet.svg" alt=""
                                                 style="max-width: 20px;"> Network administration (Cisco Packet
          Tracer/Wireshark)
        </li>
        <li class="custom-programming-list"><img class="opacity-icon mr-3" src="/assets/icons/icon-diagram.svg" alt=""
                                                 style="max-width: 20px;"> LaTeX, Entity-Relationship (ER), Unified
          Modeling Language (UML)
        </li>
        <li class="custom-programming-list"><img class="opacity-icon mr-3" src="/assets/icons/icon-intellij_idea.svg"
                                                 alt=""
                                                 style="max-width: 20px;">IntelliJ IDEA, WebStorm, PyCharm, VS Code,
          Eclipse, NetBeans, Android Studio, XCode
        </li>
        <li class="custom-programming-list"><img class="opacity-icon mr-3" src="/assets/icons/icon-more.svg" alt=""
                                                 style="max-width: 20px;"> Docker, Git, Gradle, Maven, Apache,
          Virtualbox, Adobe Creative Suite
        </li>
      </ul>
    </div>
  </div>

  <!-- PERSONAL SKILLS -->
  <hr class="my-8" style="border-top: 1px solid #F1F1F1;">
  <div id="personal_skills" class="resume-block">
    <div class="mb-4 flex flex-row">
      <img class="mr-4" width="32px" src="/assets/icons/icon-skills.svg" alt="">
      <p class="text-2xl avenir-demi">Personal skills</p>
    </div>
    <app-resume-row
      title="Comunicative Skills"
      description="Confident, articulate, and professional speaking abilities. Great communication
            skills in a development environment where teamwork prevails, acquired during
            years of team projects and team study at university."
      small_description="false"
    ></app-resume-row>
    <app-resume-row
      title="Organisational and management skills"
      description="Dynamic, results-oriented problem solver skilled at evaluating options and
            generating solutions. Ability to work in stressful situations respecting
            expiration dates. Enjoy working as a team member as well as independently."
      small_description="false"
    ></app-resume-row>
  </div>

  <!-- LANGUAGES -->
  <hr class="my-8" style="border-top: 1px solid #F1F1F1;">
  <div id="languages" class="resume-block">
    <div class="mb-4 flex flex-row">
      <img class="mr-4 content-center" width="32px" src="/assets/icons/icon-language.svg" alt="">
      <div class="flex flex-col">
        <p class="text-2xl avenir-demi">Languages</p>
        <a class="text-base lg:text:lg xl:text:lg text-gray-700"
           href="https://www.coe.int/en/web/common-european-framework-reference-languages/table-1-cefr-3.3-common-reference-levels-global-scale"
           target="_blank">CEFR Reference</a>
      </div>
    </div>
    <div class="flex justify-around">
      <div class="p-1">
        <app-resume-row
          title="Italian"
          subtitle="Native speaker"
          icon="icon-italy.svg"
        ></app-resume-row>
        <app-resume-row
          title="English"
          subtitle="C2 - Proficient"
          icon="icon-usa.svg"
        ></app-resume-row>
      </div>
      <div class="p-1">
        <app-resume-row
          title="French"
          subtitle="A2 - Basic"
          icon="icon-france.svg"
        ></app-resume-row>
        <app-resume-row
          title="Spanish"
          subtitle="A2 - Basic"
          icon="icon-spain.svg"
        ></app-resume-row>
      </div>
    </div>
  </div>

  <!-- EDUCATION -->
  <hr class="my-8" style="border-top: 1px solid #F1F1F1;">
  <div id="education" style="padding: 20px;">
    <div class="mb-4 flex flex-row">
      <img class="mr-4" width="32px" src="/assets/icons/icon-education.svg" alt="">
      <p class="text-2xl avenir-demi">Education</p>
    </div>
    <app-resume-row
      single_highlight="true"
      title="Master of Science in Engineering in Computer Science"
      subtitle="Sapienza Università di Roma"
      year="2018 - 2020"
      description="Algorithm Design, Artificial Intelligence, Computer and Network Security, Cyber
            and Computer Law, Data Management, Distributed Systems, Formal Methods, Human
            Computer Interaction, Laboratory of Network Design and Configuration (Cisco
            Packet Tracer), Mobile Applications and Cloud Computing (Java/Swift), Neural
            Networks (Python), Process Management and Mining, Software Engineering, Visual
            Analytics (Javascript)"
      thesis="Automated Generation of Executable Robotic Process Automation Scripts from User Interface Logs"
      thesis_link="SmartRPA"
      icon="icon-sapienza.svg"
    ></app-resume-row>
    <app-resume-row
      single_highlight="true"
      title="Bachelor of Science in Ingegneria Informatica e Automatica"
      subtitle="Sapienza Università di Roma"
      year="2015 - 2018"
      description="Algoritmi e Strutture Dati, Basi di Dati, Linguaggi e Tecnologie per il Web,
            Modelli, Progettazione del Software, Programmazione Funzionale e Parallela,
            Programmazione orientata agli Oggetti, Python, Reti di Calcolatori, Sistemi di
            Calcolo I & II, Tecniche di Programmazione, Telecomunicazioni,
            Analisi Matematica I & II, Calcolo delle Probabilità e Statistica, Controlli
            Automatici, Economia e Organizzazione Aziendale, Elettronica, Geometria,
            Management, Ricerca Operativa, Teoria dei Sistemi"
      thesis="SmartGasStation - Progetto e Realizzazione di una Web Application
      per Localizzare le Stazioni di Rifornimento più Economiche nelle Vicinanze"
      thesis_link="SmartGasStation"
      icon="icon-sapienza.svg"
    ></app-resume-row>
    <app-resume-row
      single_highlight="true"
      title="Diploma Liceo Scientifico"
      subtitle="Renato Cartesio"
      year="2010 - 2015"
      icon="icon-diploma.svg"
    ></app-resume-row>
  </div>

  <!--   PUBLICATIONS-->
  <hr class="my-8" style="border-top: 1px solid #F1F1F1;">
  <div id="publications" class="resume-block">
    <div class="mb-4 flex flex-row">
      <img class="mr-4" width="32px" src="/assets/icons/icon-paper.svg" alt="">
      <p class="text-2xl avenir-demi">Publications</p>
    </div>
    <app-resume-row
      title="Automated Generation of Executable RPA Scripts from User Interface Logs"
      subtitle="Simone Agostinelli, Marco Lupia, Andrea Marrella and Massimo Mecella"
      subtitle2="1st Robotic Process Automation Forum at 18th Int. Conference on Business Process Management (BPM 2020)"
      date="Sep 2020"
    ></app-resume-row>
  </div>

  <!-- CERTIFICATES -->
  <hr class="my-8" style="border-top: 1px solid #F1F1F1;">
  <div id="certificates" style="padding: 20px;">
    <div class="mb-4 flex flex-row">
      <img class="mr-4" width="32px" src="/assets/icons/icon-certificate.svg" alt="">
      <p class="text-2xl avenir-demi">Certificates</p>
    </div>
    <app-resume-row
      *ngFor="let item of resumeItems;"
      single_highlight="true"
      title="{{item.title}}"
      subtitle="{{item.subtitle}}"
      date="{{item.date}}"
      link="{{item.link}}"
      credential_id="{{item.id}}"
      icon="{{item.icon}}"
    ></app-resume-row>
  </div>

</div>

<app-footer></app-footer>
