.skills-list {
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  font-size: 1.125rem;
  margin-bottom: 4px;
  padding-bottom: 4px;
}

.custom-programming-list {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.625rem;
}

.opacity-icon {
  opacity: 75%;
}

.resume-block {
  padding: 20px;
}

.resume-block:hover, .resume-block:active {
  background-color: #fafafa;
  border-radius: 16px;
  -moz-box-shadow: inset 0 0 2px #e8e8e8;
  -webkit-box-shadow: inset 0 0 2px #e8e8e8;
  box-shadow: inset 0 0 2px #e8e8e8;
}
