<div class="flex flex-row" [ngClass]="{ invert: invert }">
  <a
    href="https://www.linkedin.com/in/marco-lupia"
    target="_blank"
    class="mr-2 grow connections"
    style="width: 2rem"
  >
    <img src="assets/icons/icon-linkedin.svg" alt="linkedin" />
  </a>
  <a
    href="https://github.com/marco2012"
    target="_blank"
    class="mx-2 grow connections"
    style="width: 2rem"
  >
    <img src="assets/icons/icon-github.svg" alt="github" />
  </a>
  <a
    href="https://www.hackerrank.com/marco2012"
    target="_blank"
    class="mx-2 grow connections"
    style="width: 2rem"
  >
    <img src="assets/icons/icon-hackerrank_dark.svg" alt="hackerrank" />
  </a>
  <a
    href="mailto:info@marlup.me?subject=Mail from website"
    class="mx-2 grow connections"
    style="width: 2rem"
  >
    <img src="assets/icons/icon-mail.png" alt="mail" />
  </a>
</div>
