<div class="flex flex-row" [ngClass]="{ invert: invert }">
  <a
    class="mr-2 grow connections connection"
    (click)="
      clickConnection('linkedin', 'https://www.linkedin.com/in/marco-lupia')
    "
  >
    <img src="assets/icons/icon-linkedin.svg" alt="linkedin" />
  </a>
  <a
    class="mx-2 grow connections connection"
    (click)="clickConnection('github', 'https://github.com/marco2012')"
  >
    <img src="assets/icons/icon-github.svg" alt="github" />
  </a>
  <a
    class="mx-2 grow connections connection"
    (click)="
      clickConnection('hackerrank', 'https://www.hackerrank.com/marco2012')
    "
  >
    <img src="assets/icons/icon-hackerrank_dark.svg" alt="hackerrank" />
  </a>
  <a
    class="mx-2 grow connections connection"
    (click)="
      clickConnection(
        'google_scholar',
        'https://scholar.google.com/citations?user=D139cEIAAAAJ'
      )
    "
  >
    <img src="assets/icons/icon-google-scholar.svg" alt="google scholar" />
  </a>
</div>
