/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Avenir Next Rounded Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Rounded Pro Regular'), url('/assets/font/avenir/AvenirNextRoundedProRegular.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next Rounded Pro Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Rounded Pro Italic'), url('/assets/font/avenir/AvenirNextRoundedProRegularIt.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next Rounded Pro Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Rounded Pro Medium'), url('/assets/font/avenir/AvenirNextRoundedProMedium.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next Rounded Pro Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Rounded Pro Medium Italic'), url('/assets/font/avenir/AvenirNextRoundedProMediumIt.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next Rounded Pro Demi';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Rounded Pro Demi'), url('/assets/font/avenir/AvenirNextRoundedProDemi.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next Rounded Pro DemiItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Rounded Pro DemiItalic'), url('/assets/font/avenir/AvenirNextRoundedProDemiIt.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next Rounded Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Rounded Pro Bold'), url('/assets/font/avenir/AvenirNextRoundedProBold.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next Rounded Pro Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Rounded Pro Bold Italic'), url('/assets/font/avenir/AvenirNextRoundedProBoldIt.woff') format('woff');
}

.avenir-regular {
  font-family: 'Avenir Next Rounded Pro Regular', sans-serif
}

.avenir-italic {
  font-family: 'Avenir Next Rounded Pro Italic', sans-serif
}

.avenir-medium {
  font-family: 'Avenir Next Rounded Pro Medium', sans-serif
}

.avenir-demi {
  font-family: 'Avenir Next Rounded Pro Demi', sans-serif
}

.avenir-bold {
  font-family: 'Avenir Next Rounded Pro Bold', sans-serif
}

//body::-webkit-scrollbar-track {
//  overflow: auto;
//  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
//  //background-color: #1a222c;
//  border-radius: 10px;
//}
//
//body::-webkit-scrollbar {
//  overflow: auto;
//  width: 18px;
//  //background-color: #1a222c;
//}
//
//body::-webkit-scrollbar-thumb {
//  border-radius: 10px;
//  background-image: -webkit-gradient(
//      linear,
//      left bottom,
//      left top,
//      color-stop(0.86, #ca3660),
//      color-stop(0.44, #ef8a37)
//  );
//}
//

body {
  background: white;
}

body.home {
  // sea
  //background: url(https://images.unsplash.com/photo-1496737018672-b1a6be2e949c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2982&q=80) no-repeat;
  // circuit
  background: url(/assets/images/circuit.jpeg) no-repeat;
  background-size: cover;
}

body.resume {
  // colors
  //background: url(https://images.unsplash.com/photo-1550859492-d5da9d8e45f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80) no-repeat;
  // sea
  //background: url(https://images.unsplash.com/photo-1496737018672-b1a6be2e949c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2982&q=80) no-repeat;
  background-size: cover;
}

