<div class="flex justify-between items-center py-3">
  <div class="pr-2">
    <div *ngIf="icon" class="flex flex-row">
      <img class="mr-3" width="32px" src="/assets/icons/{{icon}}" alt="">
      <p class="text-lg xl:text-xl">{{title}}</p>
    </div>
    <a *ngIf="link && !icon" class="text-lg xl:text-xl" href="{{link}}" target="_blank">{{title}} </a>
    <p *ngIf="!link && !icon" class="text-lg xl:text-xl">{{title}} </p>
    <p *ngIf="subtitle" class="text-base lg:text:lg xl:text:lg text-gray-700">{{subtitle}}</p>
    <p *ngIf="year" class="text-sm text-gray-600">{{year}}</p>
    <p *ngIf="description"
       class="avenir-regular text-justify text-gray-700 py-2"
       [ngClass]="small_description ? 'text-lg' : 'text-base'">{{description}}</p>
    <div *ngIf="thesis" class="avenir-medium text-justify">
      <a class="text-base lg:text:lg xl:text:lg text-gray-700"
         routerLink="/portfolio"
         [queryParams]="{query: thesis_link}">Thesis: {{thesis}}</a>
    </div>
  </div>
  <div *ngIf="date" class="pl-2">
    <p class="text-base" style="min-width: 80px">{{date}}</p>
  </div>
</div>

