.resume-block {
  padding: 1rem;
}

.resume-block:hover,
.resume-block:active {
  background-color: #fafafa;
  border-radius: 16px;
  -moz-box-shadow: inset 0 0 2px #e8e8e8;
  -webkit-box-shadow: inset 0 0 2px #e8e8e8;
  box-shadow: inset 0 0 2px #e8e8e8;
}

summary {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}

summary::-webkit-details-marker {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
  color: transparent;
}

// md
@media (min-width: 1024px) {
  .pl {
    padding-left: 60px;
  }
}
